<!DOCTYPE html>
<html lang="es" ng-app="busTicket">
  <head>
    <meta charset="utf-8">
    <title>Autobus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <style media="screen">
    .lugar *{
      display: block;
      text-align: center;
      color:#7f8c8d;
      cursor:pointer;
    }
    .lugar.reservado *{
      color:#f1c40f;
    }
    .lugar.ocupado *{
      color:#3498db;
    }
  </style>
  <body ng-controller="busController as bus">
    <div class="container">
      <h1 class="text-center"><i class="fa fa-bus" aria-hidden="true"></i><span> Autobus {{busID}}</span></h1>
      <section class="row">
        <aside id="lugares" class="col-xs-12 col-sm-offset-2 col-sm-4 container-fluid">
          <h2 class="text-center">
            Lugares <br><small>disponibles {{lugares.disponibles}}</small>
          </h2>
          <div class="row">
            <div ng-class="lugares.lista[0].estatus" id="lugar_1" class="lugar col-sm-2 col-sm-offset-1" ngpedirlick="seleccionar" lick="seleccionar(1)"><i class="fa fa-user fa-2x"></i><span>1</span></div>
            <div ng-class="lugares.lista[1].estatus" id="lugar_2" class="lugar col-sm-2" ng-right-click="pedir(2)" ng-click="seleccionar(2)"><i class="fa fa-user fa-2x"></i><span>2</span></div>
            <div class="lugar col-sm-2"></div>
            <div ng-class="lugares.lista[2].estatus" id="lugar_3" class="lugar col-sm-2" ng-right-click="pedir(3)" ng-click="seleccionar(3)"><i class="fa fa-user fa-2x"></i><span>3</span></div>
            <div ng-class="lugares.lista[3].estatus" id="lugar_4" class="lugar col-sm-2" ng-right-click="pedir(4)" ng-click="seleccionar(4)"><i class="fa fa-user fa-2x"></i><span>4</span></div>
          </div>
          <div class="row">
            <div ng-class="lugares.lista[4].estatus" id="lugar_5" class="lugar col-sm-2 col-sm-offset-1" ng-right-click="pedir(5)" ng-click="seleccionar(5)"><i class="fa fa-user fa-2x"></i><span>5</span></div>
            <div ng-class="lugares.lista[5].estatus" id="lugar_6" class="lugar col-sm-2" ng-right-click="pedir(6)" ng-click="seleccionar(6)"><i class="fa fa-user fa-2x"></i><span>6</span></div>
            <div class="lugar col-sm-2"></div>
            <div ng-class="lugares.lista[6].estatus" id="lugar_7" class="lugar col-sm-2" ng-right-click="pedir(7)" ng-click="seleccionar(7)"><i class="fa fa-user fa-2x"></i><span>7</span></div>
            <div ng-class="lugares.lista[7].estatus" id="lugar_8" class="lugar col-sm-2" ng-right-click="pedir(8)" ng-click="seleccionar(8)"><i class="fa fa-user fa-2x"></i><span>8</span></div>
          </div>
          <div class="row">
            <div ng-class="lugares.lista[8].estatus" id="lugar_9" class="lugar col-sm-2 col-sm-offset-1" ng-right-click="pedir(9)" ng-click="seleccionar(9)"><i class="fa fa-user fa-2x"></i><span>9</span></div>
            <div ng-class="lugares.lista[9].estatus" id="lugar_10" class="lugar col-sm-2" ng-right-click="pedir(10)" ng-click="seleccionar(10)"><i class="fa fa-user fa-2x"></i><span>10</span></div>
            <div class="lugar col-sm-2"></div>
            <div ng-class="lugares.lista[10].estatus" id="lugar_11" class="lugar col-sm-2" ng-right-click="pedir(11)" ng-click="seleccionar(11)"><i class="fa fa-user fa-2x"></i><span>11</span></div>
            <div ng-class="lugares.lista[11].estatus" id="lugar_12" class="lugar col-sm-2" ng-right-click="pedir(12)" ng-click="seleccionar(12)"><i class="fa fa-user fa-2x"></i><span>12</span></div>
          </div>
          <div class="row">
            <div ng-class="lugares.lista[12].estatus" id="lugar_13" class="lugar col-sm-2 col-sm-offset-1" ng-right-click="pedir(13)" ng-click="seleccionar(13)"><i class="fa fa-user fa-2x"></i><span>13</span></div>
            <div ng-class="lugares.lista[13].estatus" id="lugar_14" class="lugar col-sm-2" ng-right-click="pedir(14)" ng-click="seleccionar(14)"><i class="fa fa-user fa-2x"></i><span>14</span></div>
            <div class="lugar col-sm-2"></div>
            <div ng-class="lugares.lista[14].estatus" id="lugar_15" class="lugar col-sm-2" ng-right-click="pedir(15)" ng-click="seleccionar(15)"><i class="fa fa-user fa-2x"></i><span>15</span></div>
            <div ng-class="lugares.lista[15].estatus" id="lugar_16" class="lugar col-sm-2" ng-right-click="pedir(16)" ng-click="seleccionar(16)"><i class="fa fa-user fa-2x"></i><span>16</span></div>
          </div>
          <div class="row">
            <div ng-class="lugares.lista[16].estatus" id="lugar_17" class="lugar col-sm-2 col-sm-offset-1" ng-right-click="pedir(17)" ng-click="seleccionar(17)"><i class="fa fa-user fa-2x"></i><span>17</span></div>
            <div ng-class="lugares.lista[17].estatus" id="lugar_18" class="lugar col-sm-2" ng-right-click="pedir(18)" ng-click="seleccionar(18)"><i class="fa fa-user fa-2x"></i><span>18</span></div>
            <div class="lugar col-sm-2"></div>
            <div ng-class="lugares.lista[18].estatus" id="lugar_19" class="lugar col-sm-2" ng-right-click="pedir(19)" ng-click="seleccionar(19)"><i class="fa fa-user fa-2x"></i><span>19</span></div>
            <div ng-class="lugares.lista[19].estatus" id="lugar_20" class="lugar col-sm-2" ng-right-click="pedir(20)" ng-click="seleccionar(20)"><i class="fa fa-user fa-2x"></i><span>20</span></div>
          </div>
          <div class="row">
            <div ng-class="lugares.lista[20].estatus" id="lugar_21" class="lugar col-sm-2 col-sm-offset-1" ng-right-click="pedir(21)" ng-click="seleccionar(21)"><i class="fa fa-user fa-2x"></i><span>21</span></div>
            <div ng-class="lugares.lista[21].estatus" id="lugar_22" class="lugar col-sm-2" ng-right-click="pedir(22)" ng-click="seleccionar(22)"><i class="fa fa-user fa-2x"></i><span>22</span></div>
            <div class="lugar col-sm-2"></div>
            <div ng-class="lugares.lista[22].estatus" id="lugar_23" class="lugar col-sm-2" ng-right-click="pedir(23)" ng-click="seleccionar(23)"><i class="fa fa-user fa-2x"></i><span>23</span></div>
            <div ng-class="lugares.lista[23].estatus" id="lugar_24" class="lugar col-sm-2" ng-right-click="pedir(24)" ng-click="seleccionar(24)"><i class="fa fa-user fa-2x"></i><span>24</span></div>
          </div>
          <div class="row">
            <div ng-class="lugares.lista[24].estatus" id="lugar_25" class="lugar col-sm-2 col-sm-offset-1" ng-right-click="pedir(25)" ng-click="seleccionar(25)"><i class="fa fa-user fa-2x"></i><span>25</span></div>
            <div ng-class="lugares.lista[25].estatus" id="lugar_26" class="lugar col-sm-2" ng-right-click="pedir(26)" ng-click="seleccionar(26)"><i class="fa fa-user fa-2x"></i><span>26</span></div>
            <div class="lugar col-sm-2"></div>
            <div ng-class="lugares.lista[26].estatus" id="lugar_27" class="lugar col-sm-2" ng-right-click="pedir(27)" ng-click="seleccionar(27)"><i class="fa fa-user fa-2x"></i><span>27</span></div>
            <div ng-class="lugares.lista[27].estatus" id="lugar_28" class="lugar col-sm-2" ng-right-click="pedir(28)" ng-click="seleccionar(28)"><i class="fa fa-user fa-2x"></i><span>28</span></div>
          </div>
          <div class="row">
            <div ng-class="lugares.lista[28].estatus" id="lugar_29" class="lugar col-sm-2 col-sm-offset-1" ng-right-click="pedir(29)" ng-click="seleccionar(29)"><i class="fa fa-user fa-2x"></i><span>29</span></div>
            <div ng-class="lugares.lista[29].estatus" id="lugar_30" class="lugar col-sm-2" ng-right-click="pedir(30)" ng-click="seleccionar(30)"><i class="fa fa-user fa-2x"></i><span>30</span></div>
            <div class="lugar col-sm-2"></div>
            <div ng-class="lugares.lista[30].estatus" id="lugar_31" class="lugar col-sm-2" ng-right-click="pedir(31)" ng-click="seleccionar(31)"><i class="fa fa-user fa-2x"></i><span>31</span></div>
            <div ng-class="lugares.lista[31].estatus" id="lugar_32" class="lugar col-sm-2" ng-right-click="pedir(32)" ng-click="seleccionar(32)"><i class="fa fa-user fa-2x"></i><span>32</span></div>
          </div>
          <div class="row">
            <div ng-class="lugares.lista[32].estatus" id="lugar_33" class="lugar col-sm-2 col-sm-offset-1" ng-right-click="pedir(33)" ng-click="seleccionar(33)"><i class="fa fa-user fa-2x"></i><span>33</span></div>
            <div ng-class="lugares.lista[33].estatus" id="lugar_34" class="lugar col-sm-2" ng-right-click="pedir(34)" ng-click="seleccionar(34)"><i class="fa fa-user fa-2x"></i><span>34</span></div>
            <div class="lugar col-sm-2"></div>
            <div ng-class="lugares.lista[34].estatus" id="lugar_35" class="lugar col-sm-2" ng-right-click="pedir(35)" ng-click="seleccionar(35)"><i class="fa fa-user fa-2x"></i><span>35</span></div>
            <div ng-class="lugares.lista[35].estatus" id="lugar_36" class="lugar col-sm-2" ng-right-click="pedir(36)" ng-click="seleccionar(36)"><i class="fa fa-user fa-2x"></i><span>36</span></div>
          </div>
          <div class="row">
            <div ng-class="lugares.lista[36].estatus" id="lugar_37" class="lugar col-sm-2 col-sm-offset-1" ng-right-click="pedir(37)" ng-click="seleccionar(37)"><i class="fa fa-user fa-2x"></i><span>37</span></div>
            <div ng-class="lugares.lista[37].estatus" id="lugar_38" class="lugar col-sm-2" ng-right-click="pedir(38)" ng-click="seleccionar(38)"><i class="fa fa-user fa-2x"></i><span>38</span></div>
            <div class="lugar col-sm-2"></div>
            <div ng-class="lugares.lista[38].estatus" id="lugar_39" class="lugar col-sm-2" ng-right-click="pedir(39)" ng-click="seleccionar(39)"><i class="fa fa-user fa-2x"></i><span>39</span></div>
            <div ng-class="lugares.lista[39].estatus" id="lugar_40" class="lugar col-sm-2" ng-right-click="pedir(40)" ng-click="seleccionar(40)"><i class="fa fa-user fa-2x"></i><span>40</span></div>
          </div>
          <div class="row">
            <div ng-class="lugares.lista[40].estatus" id="lugar_41" class="lugar col-sm-2 col-sm-offset-1" ng-right-click="pedir(41)" ng-click="seleccionar(41)"><i class="fa fa-user fa-2x"></i><span>41</span></div>
            <div ng-class="lugares.lista[41].estatus" id="lugar_42" class="lugar col-sm-2" ng-right-click="pedir(42)" ng-click="seleccionar(42)"><i class="fa fa-user fa-2x"></i><span>42</span></div>
            <div ng-class="lugares.lista[42].estatus" id="lugar_43" class="lugar col-sm-2" ng-right-click="pedir(43)" ng-click="seleccionar(43)"><i class="fa fa-user fa-2x"></i><span>43</span></div>
            <div ng-class="lugares.lista[43].estatus" id="lugar_44" class="lugar col-sm-2" ng-right-click="pedir(44)" ng-click="seleccionar(44)"><i class="fa fa-user fa-2x"></i><span>44</span></div>
            <div ng-class="lugares.lista[44].estatus" id="lugar_45" class="lugar col-sm-2" ng-right-click="pedir(45)" ng-click="seleccionar(45)"><i class="fa fa-user fa-2x"></i><span>45</span></div>
          </div>
        </aside>
        <aside id="boleto" class="col-xs-12 col-sm-4">
          <br>
          <br>
          <div ng-if="boleto" class="panel panel-primary">
            <div class="panel-heading"><i class="fa fa-bus"></i>-<i class="fa fa-ticket"></i> (Bus-Ticket)</div>
            <div class="panel-body">
              <h3>{{boleto.nombre}}</h3>
              <br>
              <h4>{{boleto.destino}} <small>{{boleto.autobus}}, corrida:{{boleto.corrida}}</small> </h4>
              <br>
              <h5>Salida: {{boleto.salida | date:'medium'}}</h5>
              <p>{{boleto.costo | currency}}</p>
            </div>
            <div class="panel-footer">
              <small>emitido por: {{boleto.emisor}}</small>
            </div>
          </div>
        </aside>
      </section>

    </div>
  </body>
  <link rel="stylesheet" href="/assets/bootstrap-3.3.6/css/bootstrap.min.css" charset="utf-8">
  <link rel="stylesheet" href="/assets/bootstrap-3.3.6/css/bootstrap-theme.min.css" charset="utf-8">
  <link rel="stylesheet" href="/assets/font-awesome-4.6.3/css/font-awesome.min.css" charset="utf-8">
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/assets/jQuery/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/bootstrap-3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/angularJS/angular.min.js"></script>
  <script type="text/javascript" src="/app/app.js"></script>
</html>
