<!DOCTYPE html>
<html lang="es" ng-app="busTicket">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body ng-controller="homeController as home">
    <form ng-if="!access" class="container center" name="signForm" ng-submit="send()">
      <div class="form-group">
        <label for="usuario">Usuario</label>
        <input ng-model="sign.usuario" type="text" class="form-control" name="usuario" placeholder="Usuario">
      </div>
      <div class="form-group">
        <label for="contrasena">Contraseña</label>
        <input ng-model="sign.contrasena" type="password" class="form-control" name="contrasena" placeholder="Contraseña">
      </div>
      <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
    <div ng-if="access" class="container center">
      <h1>
        <i class="fa fa-bus" aria-hidden="true"></i>-<i class="fa fa-ticket" aria-hidden="true"></i>
        (Bus-Ticket)
      </h1>
      <ul class="fa-ul">
        <li>
          <h2><a href="/{{stadistic}}">{{stadistic}}</a></h2>
        </li>
        <li ng-repeat="bus in buses">
          <h3><a href="/autobus/{{bus.destino+'-'+bus.nombre}}">{{bus.destino+'-'+bus.nombre}}</a> <small> SALIDA: {{ bus.salida | date:'medium' }} </small></h3>
        </li>
      </ul>
    </div>
  </body>
  <link rel="stylesheet" href="/assets/font-awesome-4.6.3/css/font-awesome.min.css" charset="utf-8">
  <link rel="stylesheet" href="/assets/bootstrap-3.3.6/css/bootstrap.min.css" charset="utf-8">
  <link rel="stylesheet" href="/assets/bootstrap-3.3.6/css/bootstrap-theme.min.css" charset="utf-8">
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/assets/jQuery/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/bootstrap-3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/angularJS/angular.min.js"></script>
  <script type="text/javascript" src="/app/app.js"></script>
</html>
